.button1 {
  border-radius: 0.25rem;
  background-color: #890fb8;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 35px;
  margin: 10px;
  border: 0.125rem solid #890fb8;
  &:hover {
    background-color: #ffffff;
    color: #890fb8;
  }
}
