.contact-us-page {
  padding: 75px 150px 75px 150px;
  p {
    margin-top: 0;
    color: #787976;
    font-weight: 400;
    font-size: 1.2rem;
  }
  img {
    border-radius: 0.25rem;
  }
  h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #663399;
  }
  .contact-us-header {
    margin-bottom: 3rem;
    h1 {
      text-align: center;
      color: #663399;
      font-weight: 700;
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
  }
  .h2-location-container {
    margin-bottom: 1rem;
    h2 {
      font-size: 1.37rem;
      font-weight: 700;
    }
    svg,
    a {
      color: #787976;
      font-size: 1.2rem;
    }
  }
}
