.footer {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;

  .desktop-footer-phrase {
    color: #ffffff;
    text-align: center;
    font-size: medium;
  }
  .mobile-footer-phrase {
    color: #ffffff;
    text-align: center;
    font-size: small;
    display: none;
  }
  @media (max-width: 900px) {
    .desktop-footer-phrase {
      display: none;
    }
    .mobile-footer-phrase {
      display: block;
    }
  }
}
